@charset "utf-8";
/* CSS Document */

.width{
    width: 900px;
}
.widthUni{
    width: 1000px;
    margin:auto;
    position:relative;
}

.width_main{
    width: 1920px;
    background-repeat:no-repeat;
}

.float_l{
    float:left;
}

.float_r{
    float: right;
}

.content_background{
    background-color:#d5ded9;
}
@font-face{
    font-family: title;
    src: url()
}
.staticClass{
    position: relative;
}

.detailInfo>li{
    line-height: 1.3em;
    margin: 0px 40px;
    list-style: circle;
    font-family: neuton;
    font-size: 1.2em;
}
.project_img{
    margin: 15px 20px 15px 20px;
    box-shadow: -3px 3px 10px hsla(0,0%,42%,0.69);
}
.detailInfoSub{
    line-height: 1em;
    list-style:disc;
    font-size:1em;
    padding-left:20px;
}