@charset "utf-8";
/* CSS Document */

.container{
    height: 983px;
    background: url(../src/img/index.jpg);
}

.selfPicture{
    width: 980px;
    height: 983px;
    display:inline-block;
}

.importantInfo p{
    text-align:center;
    margin:40px 0 auto;
    line-height: 2em;
    font-size: 1.8em;
    font-family: Raleway;
    color: hsla(153,8%,26%,1.00);
}

.importantInfo_name{
    width: 760px;
    height: 270px;
    display:inline-block;
    margin: 340px 60px 0px 60px;
    background-color: hsla(0,0%,100%,0.40);
}

.importantInfo_job{
    display: none;
    width: 620px;
    height: 380px;
    margin: 40px auto;
    padding: 1px 0 ;
    background-color: hsla(0,0%,100%,0.40);
    opacity: 0;
}

.importantInfo  b{
    font-size: 1.5em;
    font-family: Raleway;
    font-weight: 700;
    color: hsla(150,9%,13%,1.00);
    text-shadow: #111111 0px 0px 2px;
}

.resume_button{
    background:url(../src/tag/button_resume.png);
    background-repeat:no-repeat;
    background-position:center;
    padding:0;
    border:0;
    width: 240px;
    height: 64px;
    margin: auto;
    cursor: pointer;
}

.resume_button:hover{
    background:url(../src/tag/button_resume_hover.png);
    background-repeat:no-repeat;
    background-position:center;


}

.resume_button:active{
    background: url(../src/tag/button_resume_pressed.png);
    background-repeat:no-repeat;
    background-position:center;
}

.button_myresume{
    display:none;
    opacity:0;
    width: 400px;
    height: 160px;
    margin: auto;
    background-color: hsla(0,0%,100%,0.40);
}

.button_myresume p{
    padding: 15px 0;
}