@charset "utf-8";
/* CSS Document */

body{
    background-color:#5E7769;
    font-family:Raleway;
    font-size: 110%;
    color: hsla(153,8%,26%,1.00);
}
ol{
    list-style-type:upper-roman;
    margin: 10px 40px;
    line-height:1.4em;
}

h1{
    font-size:75px;
    color:hsla(0,0%,100%,0.85);
    position:absolute;
    top: 80px;
    left:190px;
}

.container{
    box-shadow: 0 10px 50px #36433B;
    margin-top: 5px; 
    background-Color: hsla(143,12%,73%,1.00);
}


.navigation{
    font-size: 1em;
    font-weight:bold;
    position:absolute;
    padding-top: 50px;
    left:10px;
    color:hsla(147,8%,23%,1.00);
}

.navigation li{
    padding: 6px 8px;
}
.navigation li:hover{
    text-shadow: 0 0 1px hsla(146,13%,22%,1.00);
}
.subMenu{
    font-size:0.8em;
    padding-left: 12px;
}

.content{
    margin-left: 180px;
    padding: 25px 70px;;
    border-left: solid 4px #5E7769;
    background-color:hsla(147,12%,85%,1.00);
}

h2{
    font-size:1.8em;
    margin:20px 0 10px;
}
.titleLine{
    border:solid 1px hsla(45,13%,25%,1.00);
}

.message{
    margin: 20px 5px;
    padding: 20px 30px;
    background-color:hsla(149,13%,56%,0.74);
    box-shadow:0 3px 10px #7E9C8D;
}
.messageHead{
    border-bottom: solid 2px hsla(147,13%,30%,1.00);
    height: 1.3em;
}
.level{
    display:inline-block;
    float:left;
    line-height:1.2em;
}
.time{
    display:inline-block;
    float:right;
    font-style:italic;
    line-height:1.2em;
}
.name{
    line-height:1.5em;
}
.words{
    text-indent:2em;
}

#inputWord{
    height:5em;
    width: 600px;
    text-align:left;
}
.input{
    line-height: 2em;
    padding:30px;
    background-color: hsla(150,13%,91%,1.00);
}

p{
    line-height:1.2em;
    margin: 10px 0;
    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
    text-align:justify;
    text-indent: 1.5em;
}

.footer{
    margin:auto;
    height:100px;
    width:100%;
}